<% if logged_in? %>
  <p>
    <%= link_to("Logout", logout_path, method: :delete) %>
  </p>

  <p>
    <% unless request.original_fullpath == "/posts/new" %>
      <%= link_to("Make a post!", new_post_path) %>
    <% end %>
  </p>
<% elsif !(%w[/ /login].include?(request.original_fullpath)) %>
  <p>
    <%= link_to("Login", login_path) %>
  </p>
<% end %>

<% if request.original_fullpath != "/posts" %>
  <p>
    <%= link_to "View all posts", posts_path %>
  </p>
<% end %>

